.catalog__wrapper {
  margin-bottom: 28px;
}

.catalog__list {
  @include list-reset;
}

.catalog__item {
  margin: 0 auto;

  border-top: 1px solid $card-border-gray;
}

@media (min-width: $tablet-width) {
  .catalog__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
  }

  .catalog__wrapper {
    margin: 0 auto 13px;
  }

  .catalog__item {
    width: 324px;
    margin: 82px 30px 58px;

    border: 0;
  }
}

@media (min-width: $desktop-width) {
  .catalog__wrapper {
    width: $desktop-width;
  }

  .catalog__item {
    width: 245px;
    margin: 82px 40px 58px;
  }
}
