.form__fieldset {
  margin: 0;
  padding: 31px 0 22px;

  border: 0;

  &--program-goal {
    border-top: 1px solid $card-border-gray;
    border-bottom: 1px solid $card-border-gray;
  }
}

.form__field-group {
  @include list-reset;
}

.form__legend {
  margin-top: 31px;
}

.form__notice {
  margin: 22px 0 34px;

  font-family: $additional-font;
  font-size: $text-size-small;
  line-height: $line-height-small;
  color: $main-text-color;
}

@media (min-width: $tablet-width) {
  .form__container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .form__submit-btn {
    margin-right: 60px;
  }
}
