.gift__message {
  margin: 0;
  padding: 0 60px;

  font-family: $additional-font;
  font-size: $text-size-medium;
  line-height: $line-height-large;
  font-weight: 400;
  color: $contrast-text-color;
}
