.our-social {
  padding: 22px 0 21px;

  border-top: 1px solid $divide-line-dark-gray;
  border-bottom: 1px solid $divide-line-dark-gray;
}

.our-social__list {
  display: flex;
  flex-direction: row;
  justify-content: center;

  @include list-reset;
}

@media (min-width: $tablet-width) {
  .our-social {
    padding: 0;

    border: 0;
  }
}
