.page-header__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
}

.page-header__logo {
  margin: 0 auto;
  height: 38px;
}

@media (min-width: $tablet-width) {
  .page-header {
    padding: 0 30px;
  }

  .page-header__wrapper {
    flex-direction: row;
    justify-content: space-between;

    width: 708px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -60px;
  }

  .page-header__logo {
    width: 173px;
    height: 58px;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    padding: 0 40px;
  }

  .page-header__wrapper {
    width: 1220px;
    margin-left: auto;
    margin-right: auto;
  }

  .page-header__logo {
    width: 202px;
    height: 59px;
  }
}
