.programs {
  margin: 0;
  margin-bottom: 34px;
  padding: 0 20px;
}

.programs__list {
  @include list-reset;
}

.programs__item {
  margin-bottom: 20px;
  padding: 22px 20px;

  background-color: $bg-gray;
}

.programs__title {
  margin: 0;
  margin-bottom: 34px;

  font-size: $text-size-extra-large;
  line-height: $line-height-xxxl;
  font-weight: 400;
  text-transform: uppercase;
  color: $title-text-color;
}

.programs_description {
  margin: 0;
  margin-bottom: 20px;
  padding-bottom: 24px;

  font-family: $additional-font;

  border-bottom: 1px solid $divide-line-dark-gray;
}

.programs__link {
  text-transform: uppercase;
  color: $title-text-color;
}

@media (min-width: $tablet-width) {
  .programs {
    margin-bottom: 42px;
    padding: 0 30px;
  }

  .programs__item {
    margin-bottom: 30px;
  }
}

@media (min-width: $desktop-width) {
  .programs {
    width: $desktop-width;
    margin: 0 auto;
    margin-bottom: 68px;
    padding: 0 40px;
  }

  .programs__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .programs__item {
    width: 570px;
    margin-bottom: 40px;
    margin-right: 80px;
    padding: 41px 56px 62px 52px;
  }

  .programs__item:nth-child(2n) {
    margin-right: 0;
  }
}
