.promo {
  margin: 0;
  margin-bottom: 22px;


  color: $contrast-text-color;
}

.promo__wrapper {
  padding: 28px 20px 167px 20px;

  background-color: $light-green;
  background-image: url("../../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
}

.promo__title {
  margin: 0;
  margin-bottom: 14px;

  font-size: $title-text-size;
  line-height: $line-height-xxl;
  font-weight: 400;
}

.promo__slogan {
  margin: 0;

  font-size: $text-size-small;
  line-height: $line-height-extra-small;
  text-transform: uppercase;
}
