.site-list {
  font-size: $text-size-large;
  line-height: $line-height-large;
  font-weight: 500;
  color: $title-text-color;
  text-transform: uppercase;
  text-align: center;

  border-top: 1px solid $main-menu-divide-line;
}

.site-list__link {
  display: block;
  margin: 0;
  padding: 23px;

  color: $title-text-color;

  border-bottom: 1px solid $main-menu-divide-line;
}

@media (min-width: $tablet-width) {
  .site-list {
    display: flex;
    flex-direction: row;
  }
}
