.supplementary-card {
  padding: 14px 0 17px;

  border-top: 1px solid $border-light-gray;
}

.supplementary-card__title {
  margin: 0;
  margin-bottom: 12px;

  font-size: $text-size-medium;
  line-height: $line-height-small;
  font-weight: 400;
  text-transform: uppercase;
  color: $subtitle-text-color;
}

.supplementary-card__info {
  margin: 0;
  margin-bottom: 14px;

  font-family: $additional-font;
  line-height: $line-height-extra-small;
}
