$light-green: #68b738;
$black: #111111;
$black-lighter: #222222;
$gray-black: #444444;

$main-bg: #ffffff;
$bg-contrast: $light-green;
$bg-gray: #f2f2f2;

$main-text-color: $gray-black;
$contrast-text-color: #ffffff;
$title-text-color: $black;
$subtitle-text-color: $black-lighter;


$main-menu-divide-line: #e6e6e6;
$divide-line-dark-gray: #d9d9d9;
$card-border-gray: #ededed;
$border-light-gray: #cdcdcd; /*инпуты, блоки с данными в примере, карточки доп. товаров */
