$tablet-width: 768px;
$desktop-width: 1300px;

$main-font: "Oswald", "Arial", sans-serif;
$additional-font: "Arial", sans-serif;

$text-size-extra-small: 12px;
$text-size-small: 14px;
$text-size-medium: 16px;
$text-size-large: 20px;
$text-size-extra-large: 24px;
$text-size-xxl: 36px;

$line-height-xxs: 12px;
$line-height-extra-small: 14px;
$line-height-small: 16px;
$line-height-medium: 18px;
$line-height-large: 20px;
$line-height-extra-large: 24px;
$line-height-xxl: 36px;
$line-height-xxxl: 37px;
$line-height-huge: 60px;

$main-text-size: $text-size-small;
$main-text-line-height: $line-height-medium;

$title-text-size: $text-size-xxl;
$title-line-height: $line-height-huge;

$subtitle-text-size: $text-size-extra-large;
$subtitle-line-height: $line-height-extra-large;

$menu-text-size: $text-size-large;
$menu-line-height: $line-height-large;
